body {
	background-color: #f4f4f4;
	color: #081305;
	font-size: 14px;
}
a {
	color: #081305;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
input {
	border: none;
}
input:hover{
	outline: none;
	border: none;
}


/* _____________ Mobil _____________*/

.mobil-block {
	position: relative;
	display: none;
}
.nav-mobil {
	padding-bottom: 5px; 
}
/* Header*/
.header-top-mobil {	
	position: fixed;
	width: 100vw;
	min-height: 60px;
	z-index: 10;
	background-color: #eeeeee;
	box-shadow: 0 1px 15px 0 rgba(0,0,0,0.20);
}
.nav-mobil-relative {
	position: relative;
}
.navbar-toggler {
	cursor: pointer;
}
.header-top-mobil .mobil-icon {
	width: calc((100% - 20px) / 5);
	text-align: center;
	height: 60px;
	display: inline-block;
	padding-top: 15px;
}
.header-top-mobil .btn-mobil.active{
	color: #8AB32D;
}
.btn-mobil svg:hover {
	color: #8AB32D;
}
.navbar-toggler svg:hover {
	color: #8AB32D;
}
.navbar-toggler.active svg {
	color: #8AB32D;
}


/* _____________ End Mobil _____________*/


/* _____________ Header _____________*/

.header {
	margin-bottom: 15px;
	box-shadow: 0 1px 15px 0 rgba(0,0,0,0.20);
}

/*
 *	Header top
 */
.header-top {
	background-color: #6B9B00;
	height: 33px;
}
.header-top .nav-link {
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
}
.header-top .nav-link:first-child {
	padding-left: 0;
}
.header-top .nav-link:hover {
	color: #FFFD73;
}
.header-top .phone-number {
	float: right;
}
.header-top .phone-link {
	padding: 0;
	font-weight: 600;
}

/*
 *	Header area
 */
.header-area {
	padding: 5px 0 5px 0;
	background-color: #fff;
	border-bottom: 1px solid #d7dcd7;
}
.logo {
	font-size: 15px;
	font-weight: 700;
	line-height: 1.2;
	color: #416e41;
}
/* search */
.header-area .search .form-new{
	position: relative;
	width: 100%;
  	height: 40px;
  	padding-left: 10px;
  	background: #e3e4e5;
  	transition: .2s;
  	font-size: 16px;
}
.header-area .search .icon-input {
	position: absolute; 
  	top: 0;
  	right: 15px;
  	width: 42px;
  	height: 40px;
  	border: none;
  	background: #e3e4e5;
  	cursor: pointer;
  	transition: .3s
}
.header-area .search .form-new:focus {
	background: #f3f4f2;
}

.header-area .search .icon-input:hover {
	opacity: 0.7;
}
/* button */
.btn-top {
	padding: 8px 5px;	
	font-size: 15px;
	background: #e3e4e5;
	border-radius: 0;
}
.btn-icon-top {
	position: relative;
	padding: 8px 5px 8px 25px;
}
.header-area .icon-button {
	position: absolute;
	left: 5px;
	top: 6px;
}
.btn-top:hover {
	background: #f3f4f2;
}
.login {
	float: right;
}

/* _____________ End Header _____________*/

/* _____________ Main _____________ */


/*
 *	Message
 */
.message {
	width: 100%;
	background-color: #FFD100;
	color: #494b49;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
}

/*
 *	Navigation
 */
.navigation-left {
	position: absolute;
	left: 0;
	background-color: #fff;
	margin-left: 15px;
	border-right: 1px solid #d7dcd7;
	border-bottom: 1px solid #d7dcd7;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
} 

/* nav column */
.nav-column {
	display: flex;
	background-color: #fff;
	margin-bottom: 10px;
	min-height: 50%;
} 
.nav-column .nav {
	width: 100%
}

/* nav item main*/
.nav-item-main {
	background-color: #8AB32D ;
}
.nav-item-main .nav-link {
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
}

/* nav item*/
.nav-column .nav-item {
	position: relative;
  	align-self: stretch;
  	flex-grow: 1;	
}
.nav-column .nav-item:last-child {
	border-bottom: none;
}
.nav-column .nav-link {
	height: 100%;
	transition: .2s linear;
}
.nav-column .nav-item .nav-link:hover {
	background-color: #BEF73E;
	color: #000;
}


/*
 *	Block plants
 */ 
.block {
	background-color: #fff;
	padding: 20px;
	border: 1px solid #d7dcd7;
	margin-bottom: 30px
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
}
.block-yet-plants {
	margin-top: 40px;
	margin-bottom: 40px;
}
.list .arrow-slide {
	transition: opacity .3s linear;
}

.block-name-slaider {
	margin-bottom: 15px;
	padding-left: 25px;
	font-size: 24px;
	font-weight: 600;
}
.block-name {
	margin-bottom: 15px;
	padding-left: 30px;
	font-size: 24px;
	font-weight: 600;
}
.block-list-line {
	display: inline-block;
	margin-bottom: 30px;
}
.random-list-plants {
	margin-bottom: 40px;
}

/*
 *	Card
 */
/* card product*/
.card {
	min-height: 250px;
	border: none;
	border: 1px solid #e9e9e9;
}
.card-new {
	width: calc((100% - 120px) / 6);
	margin: 0 10px 25px 10px;
}
.card .card-body {
	padding: 0 0 0 10px;
}
.card-carousel {
	width: 200px;
	margin-right: 5px;
	margin-left: 5px;
} 
.card img {
	height: 150px;
	object-fit: cover;
}
.card img:hover {
	opacity: 0.8;
}
.card-title {
	padding-top: 5px;
	font-size: 16px;
	margin-bottom: 0;
}
.card-title a:hover {
	text-decoration: none;
	color: #395112;
}
.card-price {
	float: left;
	text-align: left;
	font-size: 18px;
}
.card-body .card-icons {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
.card-body .card-icon {
	margin-right: 15px;
	text-align: center;
}
.card-icon a svg {
	height: 30px;
	width: 30px;
}
.card-icon a svg:hover {
	color: #8AB32D;
}
.card-body .active {
	color: #8AB32D;
}

/* card news*/
.card-news {
	width: 500px;
	margin: 0 10px 0 10px;
}
.card-news img {
	object-fit: cover;
}

/*
 *	Btn
 */
.btn-main {
	background-color: #96b530;
	border-color: #96b530;
	padding: 15px 40px;
	font-size: 20px;
}

.btn-main:hover {
	background-color: #84a02b;
	border-color: #84a02b;
}
.btn-yet {
	display: block;
	margin: 30px auto 0 auto;
}

/*
 *	Block list
 */
.block-list-line {
	
}

/* _____________ End Main _____________ */

/* _____________ Footer _____________ */

.footer {
	padding: 30px 0 10px 0;
	background-color: #2f2f2f;
	margin-top: 60px;
	color: #fff;
}
.nav-footer {
	margin-bottom: 20px;
}
.nav-footer .nav-link {
	color: #fff;
	padding: 4px 16px;
}
.nav-footer .nav-link:hover {
	color: #BEF73E;
}
.nav-footer .hide {
    display: none; 
}

.nav-footer label {
	position: relative;
    cursor: pointer;
    width: 100%;
    height: 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 0;
}
.nav-footer label .icon-label {
	display: none;
}




/* _____________ End Footer _____________*/

/* ============= Media 996 ============= */

@media (max-width: 996px) {

/* _____________ Header _____________*/

	.header-area {
		padding-top: 70px;
	}
	.header-top, .no-mobil {
		display: none;
	}
	.mobil-block {
		display: inline-block;
	}
	.header-area .mobil {
		color: #000;
		font-weight: bold;
		float: right;
	}
	.header-area .search{
		margin-top: 20px; 
	}
	.header-area .search .icon-input {
		top: 20px;
	}

/* _____________ End Header _____________ */

/* _____________ Main _____________ */ 

.card-new {
	width: calc((100% - 80px) / 4);
	margin: 0 10px 20px 10px;
}

.navigation-left {
	display: none;
}

/* _____________ End Main _____________ */

/* _____________ Footer _____________ */

	.nav-footer .hide + label ~ ul {
		display: none;
	}
	.nav-footer label .icon-label {
		display: inline-block;
		position: absolute;
		top: 0%;
		right: 10px;
	}
	.nav-footer .hide:checked + .nav-item {
		display: block;
	}
	.nav-footer .hide:checked + label {
	    color: #BEF73E;
	    border-bottom: 0;
	}
	.nav-footer .hide:checked + label .icon-label {
		transform: rotate(180deg);
		margin-top: 10px;
	}

	.nav-footer .hide:checked + label + ul {
	    display: block;  
	    opacity: 1;
	}

/* _____________ End Footer _____________*/

}

/* ============= End Media 996 ============= */

/* ============= Media 768 ============= */

@media (max-width: 768px) {
	.card-new {
		width: calc((100% - 60px) / 3);
		margin: 0 10px 15px 10px;
	}
	.block {
		margin-bottom: 20px;
	}
	.block-name-slaider, .block-name {
		margin-bottom: 10px;
	}
	.slaide-padding {
		padding: 0;
	}
	.block-name-slaider {
		padding-left: 20px;
	}
}

/* ============= End Media 768 ============= */

/* ============= Media 576 ============= */

@media (max-width: 576px) {
	.card-new {
		width: calc((100% - 20px) / 2);
		margin: 0 5px 10px 5px;
	}
	.block {
		margin-bottom: 20px;
	}
	.block-name-slaider, .block-name {
		margin-bottom: 10px;
	}
	.card-news {
		width: 350px;
	}
}

/* ============= End Media 576 ============= */

/* ============= Media 400 ============= */

@media (max-width: 400px) {
	.block {
		margin-bottom: 20px;
		padding: 10px 5px 10px 5px;
	}
	.block-name-slaider, .block-name {
		margin-bottom: 10px;
	}
	.card-news {
		width: 250px;
	}
}

/* ============= End Media 400 ============= */



/* ============= SLick Slider ============= */

.slick-list {
 	overflow: hidden;
 }
.slick-track {
	display: flex;
}
.slaide {
	position: relative;
	transition: .3s linear;
}
.slaide:hover .arrow-slide {
	opacity: 0.8;
}
.slaide .arrow-slide {
	position: absolute;
	top: 50%;
	margin: -25px 0 0 0;
	z-index: 10;
	opacity: 0;
	transition: .3s linear;
}
.slaide .arrow-slide svg {
	color: #9a9c9a;
	background-color: #fff;
	border-radius: 8px;
}
.slaide .arrow-slide:hover {
	opacity: 1;
	cursor: pointer;
}
.slaide .prev, .slaide .prev-2, .slaide .prev-news{
	left: 0;
}
.slaide .next, .slaide .next-2, .slaide .next-news {
	right: 0;
}

/* ============= End SLick Slider =============*/